{% extends 'base.html' %}

{% block header %}
{% block title %}{% endblock %}
{% endblock %}

{% block content %}
 <div class = "container-fluid">
     <div class = "row">
         <div class = "col-md-3 col-sm-12 mt-3">
         <div class = "card">
             <div class = "card-header">
                <h3>Your Information</h3>
                 </div>
                     <ul class="list-group">
                       <a href = "{{ url_for('settings.settings') }}"><li class="list-group-item active"  >Account settings</li></a>
                       <a href = "{{ url_for('profiles.profile') }}"><li class="list-group-item" >Profile</li></a>
                       <a href = "{{ url_for('quickEntry.quickEntry') }}"><li class="list-group-item">Add Expenses</li></a>
                    </ul>
                 </div>
            </div>
     <div class = "card col-md-7 offset-md-1 col-sm-12 mt-3">
         <div class = "card-header">
        <h1>Account Settings</h1>
         </div>
         <div class = "card-body">
    <form method = "post">
        <div class = "row">
        <div class="form-group col-6">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" name = "fullname" id="fullname" aria-describedby="fullname" value = "{{user[0]['name1']}}" placeholder="First name">

      </div>
        <div class = "form-group col-6">
          <label for="userName">User Name</label>
          <input type="text" class="form-control" name = "username" id="username" aria-describedby="username" value = "{{user[0]['username']}}" placeholder="Username">

          </div>
            </div>
            <div class="form-check">
              <input type="radio" name="anonymous" value="2" {%  if user[0]['anonymous'] == 2  %}checked{%  endif %}>Remain anonymous to everyone<br>
              <input type="radio" name="anonymous" value="1" {%  if user[0]['anonymous'] == 1  %}checked{%  endif %}>Remain anonymous to everyone except friends<br>
              <input type="radio" name="anonymous" value="0" {%  if user[0]['anonymous'] == 0  %}checked{%  endif %}>Do not remain anonymous<br>
            </div>
            <div class = "form-group">
                <button type="submit" class="btn btn-primary" style="background-color: #4CAF50">Update Information</button>
            </div>
    </form>
         </div>
 </div>
 </div>
     </div>
{% endblock %}
