{% extends 'base.html' %}

{% block header %}
<h1 class="display-1">{% block title %}Welcome to our app!!!{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>
</p>
<p>
</p>
<p>
</p>
<p style="text-align: center;font-size: 24px">In this application you will find really helpful ways to store and track your expenses. You can give and
get obtain about finances to friends and other users. Together, we are trying to create an open and transparent community of people who
are taking back control of their finances. <p>

<p>

</p>
<h3>Currently logged in as:<span> User Number 1</span></h3>


{% endblock %}