{% extends 'base.html' %}

{% block header %}
    <h1 class="display-1">{% block title %} Your Profile {% endblock %}</h1>
{% endblock %}

{% block content %}



    <!-- Button trigger modal -->


<!-- Modal -->

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ numFriends }} Friends</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for friend in friends %}
        <a href="{{ url_for('profiles.startViewFriend' , username=friend.user_name,field=friend.field,location=friend.location,name=friend.name,age=friend.age,income=friend.income,anon=friend.anon)}}"  class="list-group-item  list-group-item-info">
            <img src="/static/badge1.jpg" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto" class="float-sm-right">
            <h4> {{ friend['user_name'] }}</h4>
            <p> {{ friend['field'] }}, {{ friend['location'] }}</p>

        </a>




        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>



    <img src="/static/hi.jpg" style="border-radius: 50%;width: 15%;height:auto;display: block;margin-left: auto;margin-right: auto">
    <p>



</p>
    <div class="row">
  <div class="col-md-12 text-center">
    <form action="{{ url_for('profiles.startAddFriends') }}" method="post" class="container">
<div class="btn-group" role="group" aria-label="Basic example">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
   View Friends
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="display: block; margin-left: auto;margin-right: auto; background-color: #4CAF50; ">Update Information</button>


<button type="submit" class="btn btn-secondary" value="Add Friends">Add Friends</button>

</div>

</form>
    </div>
</div>

<p>


</p>




{#Modal begins here#}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enter Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">


                    <form method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label" >Name:</label>
                            <input placeholder="Ex: John Smith" value = "{{g.user['name1']}}" type="text" class="form-control" id="fullname" name="fullname" required="required" type = "text">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Occupation:</label>
                            <input type="text" placeholder="Ex: Engineer, Salesman, Conman " value="{{g.user['occupation']}}" class="form-control" id="recipient-name" name="occupation" required="required">
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Age:</label>
                            <input type="number" placeholder="Ex: 18, 19, 36" class="form-control" value="{{g.user['age']}}" id="recipient-name" name="age" required="required">
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Location</label>
                            <input type="text" placeholder="Ex: Area 51, Buffalo, London" value="{{g.user['location']}}" class="form-control" id="recipient-name" name="location" required="required">
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Income Estimate:</label>
                            <input type="number" placeholder="Enter an estimate of your salary" value="{{g.user['income']}}" class="form-control" id="recipient-name" name="income" required="required">
                        </div>
                        <div class="form-check">
                          <input type="checkbox"  id="recipient-anonymous"  name="anonymous" {%  if g.user['anonymous']  %}checked{%  endif %}>

                          <label class="form-check-label" for="recipient-anonymous">Remain Anonymous?</label>
                        </div>
                        <div class = "form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" style="background-color: #4CAF50">Update Information</button>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>


{#Modal ends here    #}




{#Information card Begins here#}

<div class="card" style="width: 30rem;margin: 0 auto; float: none; margin-bottom: 200px">





  <div style="font-weight: bold", class="card-header", style ="text-align: center"  >{%  if g.user['anonymous'] == 1 %}Anonymous User{%  else %} {{ g.user['name1'] }}{%  endif %}</div>

  {%  if g.user['anonymous'] != 1 %}
    <li class="list-group-item"> Username: {{ g.user['username'] }}</li>

     {%  if g.user['income'] != None %}
          <li class="list-group-item">Current Income: {{ g.user['income'] }}</li>
     {%  else %}
          <li class="list-group-item">User has not shared their income yet</li>
     {%  endif %}


     {%  if g.user['occupation'] != None %}
          <li class="list-group-item">Occupation/Field: {{ g.user['occupation'] }}</li>
     {%  else %}
          <li class="list-group-item">User has not shared their occupation yet</li>
     {%  endif %}



     {%  if g.user['location'] != None %}
          <li class="list-group-item">Location: {{ g.user['location'] }}</li>
     {%  else %}
          <li class="list-group-item">User has not shared their location yet</li>
     {%  endif %}



     {%  if g.user['age'] != None %}
          <li class="list-group-item">Age: {{ g.user['age'] }}</li>
     {%  else %}
          <li class="list-group-item">User has not shared their age yet</li>
     {%  endif %}
   {%  else %}
    <li class="list-group-item">This user is anonymous</li>
   {%  endif %}
  <li class="list-group-item">Number of Badges Earned: 1</li>

  </ul>
  <img src="/static/badge1.jpg" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto">


    </p>

    <p>


    </p>

{#    Information card Ends here#}



    </div>
    <div class = "card col-md-10 offset-md-1 col-12">
      <div class = "card-header text-center">
         Information
      </div>
      <div class = "row card-body">
        <div class="card border-success mb-3 text-center col-md-4 offset-md-2 col-12" style="max-width: 18rem;">
          <div class="card-header">Salary Information</div>
          <div class="card-body text-info">
            <h5 class="card-title">Average monthly income</h5>
            <p class="card-text">${{user['income'] // 12}}</p>
          </div>
        </div>
        <div class="card border-info mb-3 text-center col-md-4 offset-md-2 col-12" style="max-width: 18rem;">
          <div class="card-header">Expense Information</div>
          <div class="card-body text-info">
            <h5 class="card-title">Average monthly expenses</h5>
            <p class="card-text">${{total_expenses['total'] // 12}}</p>
          </div>
        </div>
        <div class="card text-white text-center bg-success mb-3 col-md-5 offset-md-1 col-12">
          <div class="card-header">Salary Breakdown</div>
          <div class="card-body">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class = "font-weight-bold">Total income</td>
                  <td>${{user['income']}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Daily income</td>
                  <td>${{user['income'] // 365}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Weekly income</td>
                  <td>${{user['income'] // 52}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Monthly income</td>
                  <td>${{user['income'] // 12}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        <div class="card text-white text-center bg-danger mb-3 col-md-5">
          <div class="card-header">Expense Breakdown</div>
          <div class="card-body">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class = "font-weight-bold">Total yearly expenses</td>
                  <td>${{total_expenses['total']}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Daily expenses</td>
                  <td>${{total_expenses['daily']}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Weekly expenses</td>
                  <td>${{total_expenses['weekly']}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Monthly expenses</td>
                  <td>${{total_expenses['monthly']}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Yearly expenses</td>
                  <td>${{total_expenses['yearly']}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">One Time expenses</td>
                  <td>${{total_expenses['oneTime']}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
    <div class="list-group" style="margin-top:25px;">

        {% for expense in expenses %}
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                <div class="row justify-content-between">
                  <div class = "col-md-6 col-12">
                    <h4 class = >{{ expense['category'] }} - {{ expense['title'] }}</h4>
                    </div>
                    <div class = "col-md-6 col-12 text-right">
                    <small>Created {{ expense['timeago'] }}</small>
                    </div>
                </div>
                <p>${{ expense['cost'] }} {{ expense['rate'] }}</p>


            </a>
        {% endfor %}
    </div>





{% endblock %}
