{% extends 'base.html' %}
{% block header %}
    <h1 class="display-1">{% block title %} Your Profile {% endblock %}</h1>
{% endblock %}

{% block content %}



    <!-- Button trigger modal -->


<!-- Modal -->

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ numFriends }} Friends</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for friend in friends %}

        <a href="{{ url_for('profiles.startViewFriend',username=friend.user_name,field=friend.field,location=friend.location,name=friend.name,age=friend.age,income=friend.income,anon=friend.anon,id=friend.user_id)}}"  class="list-group-item  list-group-item-info">
        {% if friend.displayedBadge == 0 %}
            <img src="/static/badge1.jpg" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto" class="float-sm-right">
        {% endif %}
        {% if friend.displayedBadge == 1 %}
            <img src="/static/badge2.jpg" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto" class="float-sm-right">

        {% endif %}
        {% if friend.displayedBadge == 2 %}
            <img src="/static/badge3.jpg" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto" class="float-sm-right">

        {% endif %}
        {% if friend.displayedBadge == 3 %}
            <img src="/static/badge4.jpg" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto" class="float-sm-right">

        {% endif %}




            <h4> {{ friend['user_name'] }}</h4>
            <p> {{ friend['field'] }}, {{ friend['location'] }}</p>

        </a>




        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
{% if user.displayedBadge == 0 %}
    <img src="/static/badge1.jpg" style="border-radius: 50%;width: 15%;height:auto;display: block;margin-left: auto;margin-right: auto">
        {% endif %}
        {% if user.displayedBadge == 1 %}
    <img src="/static/badge2.jpg" style="border-radius: 50%;width: 15%;height:auto;display: block;margin-left: auto;margin-right: auto">

        {% endif %}
        {% if user.displayedBadge == 2 %}
    <img src="/static/reocurring.png" style="border-radius: 50%;width: 15%;height:auto;display: block;margin-left: auto;margin-right: auto">

        {% endif %}
        {% if user.displayedBadge == 3 %}
    <img src="/static/Badge4.jpg" style="border-radius: 50%;width: 15%;height:auto;display: block;margin-left: auto;margin-right: auto">

        {% endif %}


    <p>



</p>
    <div class="row">

  <div class="col-md-12 text-center">
    <form action="{{ url_for('profiles.startAddFriends') }}" method="post" class="container">
<div class="btn-group" role="group" aria-label="Basic example">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
   View Friends
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" style="display: block; margin-left: auto;margin-right: auto; background-color: #4CAF50; ">Update Information</button>


<button type="submit" class="btn btn-secondary" value="Add Friends">Add Friends</button>

</div>

</form>
    </div>
</div>

<p>


</p>




{#Modal begins here#}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enter Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">


                    <form method="post">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label" >Name:</label>
                            <input placeholder="Ex: John Smith" value = "{{g.user['name1']}}" type="text" class="form-control" id="fullname" name="fullname" required="required" type = "text">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Occupation:</label>
                            <input type="text" placeholder="Ex: Engineer, Salesman, Conman " value="{{g.user['occupation']}}" class="form-control" id="recipient-name" name="occupation" required="required">
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Age:</label>
                            <input type="number" placeholder="Ex: 18, 19, 36" class="form-control" value="{{g.user['age']}}" id="recipient-name" name="age" required="required">
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Location</label>
                            <input type="text" placeholder="Ex: Area 51, Buffalo, London" value="{{g.user['location']}}" class="form-control" id="recipient-name" name="location" required="required">
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Income Estimate:</label>
                            <input type="number" placeholder="Enter an estimate of your salary" value="{{g.user['income']}}" class="form-control" id="recipient-name" name="income" required="required">
                        </div>
                        <div class="form-check">
                          <input type="radio" name="anonymous" value="2" {%  if g.user['anonymous'] == 2  %}checked{%  endif %}>Remain anonymous to everyone<br>
                          <input type="radio" name="anonymous" value="1" {%  if g.user['anonymous'] == 1  %}checked{%  endif %}>Remain anonymous to everyone except friends<br>
                          <input type="radio" name="anonymous" value="0" {%  if g.user['anonymous'] == 0  %}checked{%  endif %}>Do not remain anonymous<br>
                        </div>
                        <div class = "form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" style="background-color: #4CAF50">Update Information</button>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>


{#Modal ends here    #}




{#Information card Begins here#}

<div class="card" style="width: 30rem;margin: 0 auto; float: none;">


  <div style="font-weight: bold", class="card-header", style ="text-align: center"  > {{ g.user['name1'] }}</div>

    <li class="list-group-item"> Username: {{ g.user['username'] }}</li>

     {%  if g.user['income'] != None %}
          <li class="list-group-item">Current Income: {{ g.user['income'] }}</li>
     {%  else %}
          <li class="list-group-item">User has not shared their income yet</li>
     {%  endif %}


     {%  if g.user['occupation'] != None %}
          <li class="list-group-item">Occupation/Field: {{ g.user['occupation'] }}</li>
     {%  else %}
          <li class="list-group-item">User has not shared their occupation yet</li>
     {%  endif %}



     {%  if g.user['location'] != None %}
          <li class="list-group-item">Location: {{ g.user['location'] }}</li>
     {%  else %}
          <li class="list-group-item">User has not shared their location yet</li>
     {%  endif %}



     {%  if g.user['age'] != None %}
          <li class="list-group-item">Age: {{ g.user['age'] }}</li>
     {%  else %}
          <li class="list-group-item">User has not shared their age yet</li>
     {%  endif %}

{%  if g.user['badge2'] != None and g.user['badge3'] == None and g.user['badge4'] == None %}
        <li class="list-group-item">Badges Earned: 2 </li>

{%  elif g.user['badge2'] == None and g.user['badge3'] != None and g.user['badge4'] == None %}
        <li class="list-group-item">Badges Earned: 2 </li>

{%  elif g.user['badge2'] == None and g.user['badge3'] == None and g.user['badge4'] != None %}
        <li class="list-group-item">Badges Earned: 2 </li>


{%  elif g.user['badge2'] != None and g.user['badge3'] != None and g.user['badge4'] == None  %}
        <li class="list-group-item">Badges Earned: 3 </li>


{%  elif g.user['badge3'] != None and g.user['badge4'] != None and g.user['badge2'] == None %}
        <li class="list-group-item">Badges Earned: 3 </li>


{%  elif g.user['badge4'] != None and g.user['badge2'] != None and g.user['badge3'] == None %}
        <li class="list-group-item">Badges Earned: 3 </li>


{%  elif g.user['badge2'] != None and g.user['badge3'] != None and g.user['badge4'] != None %}
        <li class="list-group-item">Badges Earned: 4 </li>


{%  else  %}
        <li class="list-group-item">Badges Earned: 1 </li>
{% endif %}



  </ul>

<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Badge to Display
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ url_for('profiles.chooseBadge',badgeID=0) }}"><img src="/static/badge1.jpg" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto"></a>
      {% if user.badge2 == 1 %}
    <a class="dropdown-item" href="{{ url_for('profiles.chooseBadge',badgeID=1) }}"><img src="/static/badge2.jpg" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto"></a>
      {% else %}
        {% endif %}
      {% if user.badge3 == 1 %}
        <a class="dropdown-item" href="{{ url_for('profiles.chooseBadge',badgeID=2) }}"><img src="/static/reocurring.png" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto"></a>

      {% else %}
  {% endif %}
  {% if user.badge4 == 1 %}
        <a class="dropdown-item" href="{{ url_for('profiles.chooseBadge',badgeID=3) }}"><img src="/static/Badge4.jpg" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto"></a>

      {% else %}
  {% endif %}

  </div>
</div>
<img src="/static/badge1.jpg" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto">

  <h4 style="display: block;margin-left: auto;margin-right: auto">Sign Up Badge </h4>
  <p> </p>

  {%  if g.user['badge2'] != None %}
        <img src="/static/badge2.jpg" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto">
        <h4 style="display: block;margin-left: auto;margin-right: auto">Update Profile Badge </h4>
        <p> </p>
  {% endif %}

  {%  if g.user['badge3'] != None %}
        <img src="/static/badge4.jpg" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto">
        <h4 style="display: block;margin-left: auto;margin-right: auto">Added an Expense </h4>
        <p> </p>
  {% endif %}

  {%  if g.user['badge4'] != None %}
        <img src="/static/reocurring.png" style="width: 18%;height:auto;display: block;margin-left: auto;margin-right: auto">
        <h4 style="display: block;margin-left: auto;margin-right: auto">Added a Reoccurring Expense </h4>
        <p> </p>
  {% endif %}


{#    Information card Ends here#}

    </div>

    <div class = "row mt-5">
      <div class = "col-md-4 col-lg-4 col-12">
        <canvas id="chDonut1"></canvas>
      </div>
      <div class = "col-md-4 col-lg-4 col-12">
        <canvas id="chPie1"></canvas>
      </div>
      <div class = "col-md-4 col-lg-4 col-12">
        <canvas id="barchart"></canvas>
      </div>
    </div>

    <div class = "card col-md-10 offset-md-1 col-12 mt-5">
      <div class = "card-header text-center">
         Information
      </div>
      <div class = "row card-body">
        <div class="card border-success mb-3 text-center col-md-4 offset-md-2 col-12" style="max-width: 18rem;">
          <div class="card-header">Salary Information</div>
          <div class="card-body text-info">
            <h5 class="card-title">Average monthly income</h5>
            <p class="card-text">${{user['income'] // 12}}</p>
          </div>
        </div>
        <div class="card border-info mb-3 text-center col-md-4 offset-md-2 col-12" style="max-width: 18rem;">
          <div class="card-header">Expense Information</div>
          <div class="card-body text-info">
            <h5 class="card-title">Average monthly expenses</h5>
            <p class="card-text">${{total_expenses['total'] // 12}}</p>
          </div>
        </div>
        <div class="card text-white text-center bg-success mb-3 col-md-5 offset-md-1 col-12">
          <div class="card-header">Salary Breakdown</div>
          <div class="card-body">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class = "font-weight-bold">Total income</td>
                  <td>${{user['income']}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Daily income</td>
                  <td>${{user['income'] // 365}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Weekly income</td>
                  <td>${{user['income'] // 52}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Monthly income</td>
                  <td>${{user['income'] // 12}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        <div class="card text-white text-center bg-danger mb-3 col-md-5">
          <div class="card-header">Expense Breakdown</div>
          <div class="card-body">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td class = "font-weight-bold">Total yearly expenses</td>
                  <td>${{total_expenses['total']}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Daily expenses</td>
                  <td>${{total_expenses['daily']}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Weekly expenses</td>
                  <td>${{total_expenses['weekly']}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Monthly expenses</td>
                  <td>${{total_expenses['monthly']}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">Yearly expenses</td>
                  <td>${{total_expenses['yearly']}}</td>
                </tr>
                <tr>
                  <td class = "font-weight-bold">One Time expenses</td>
                  <td>${{total_expenses['oneTime']}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

    <div class="list-group" style="margin-top:25px;">
        {% for expense in expenses %}
            <a href="#" class="list-group-item list-group-item-action list-group-item-success">
                <div class="row justify-content-between">
                  <div class = "col-md-6 col-12">
                    <h4 class = >{{ expense['category'] }} - {{ expense['title'] }}</h4>
                    </div>
                    <div class = "col-md-6 col-12 text-right">
                    <small>Created {{ expense['timeago'] }}</small>
                    </div>
                </div>
                <p>${{ expense['cost'] }} {{ expense['rate'] }}</p>


            </a>
        {% endfor %}
    </div>
    <script>
      var date = new Date();
      const month = date.toLocaleString('default', { month: 'long' });
      var colors = ['red','green', 'blue'];
      /* 3 donut charts */
      var donutOptions = {
        responsive: true,
        title: {
            display: true,
            text: month +" Spending",
            fontSize: 18,
            fontColor: "#111"
          },
          legend: {
            position: "bottom",
            labels: {
              fontColor: "#333",
              fontSize: 16
            }
          }
      };
      var chDonutData1 = {
      labels: ['Spent', 'Left'],
      datasets: [
        {
          backgroundColor: colors.slice(0,2),
          borderWidth: [1, 1, 1, 1, 1],
          data: [{{ infographics[0] }}, {{infographics[1]}}]
        }
      ]
  };
      var chDonut1 = document.getElementById("chDonut1");
      if (chDonut1) {
        new Chart(chDonut1, {
            type: 'doughnut',
            data: chDonutData1,
            options: donutOptions
        });
      }

      var pieOptions = {
        responsive: true,
        title: {
            display: true,
            text: "Spending breakdown by category",
            fontSize: 18,
            fontColor: "#111"
          },
          legend: {
            position: "bottom",
            labels: {
              fontColor: "#333",
              fontSize: 16
            }
          }
      };
      var categorycolors = ['red','black', 'blue', 'yellow', 'purple', 'brown', 'green', 'gray'];
      var chPieData1 = {
      labels: ['Food', 'Phone', 'Vehicle', 'Utilities', 'Medical', 'Rent/ Mortgage', 'Recreational', 'Other'],
      datasets: [
        {
          backgroundColor: categorycolors.slice(0,8),
          borderWidth: [1, 1, 1, 1, 1],
          data: [{{ total_category['Food'] }}, {{ total_category['Phone'] }}, {{ total_category['Vehicle'] }}, {{ total_category['Utilities'] }}, {{ total_category['Medical'] }}, {{ total_category['Rent / Mortgage'] }}, {{ total_category['Recreational'] }}, {{ total_category['Other'] }}]
        }
      ]
  };
      var chPie1 = document.getElementById("chPie1");
      if (chPie1) {
        new Chart(chPie1, {
            type: 'pie',
            data: chPieData1,
            options: pieOptions
        });
      }
      var barOptions = {
        responsive: true,
        title: {
            display: true,
            text: "Spending breakdown by period",
            fontSize: 18,
            fontColor: "#111"
          }
      };
      var bardata = {
      labels: ['daily', 'weekly', 'monthly', 'yearly','one time'],
          datasets: [
            {
              backgroundColor: categorycolors.slice(0,5),
              data: [{{ total_expenses['daily'] }}, {{ total_expenses['weekly'] }}, {{ total_expenses['monthly'] }}, {{ total_expenses['yearly'] }}, {{ total_expenses['oneTime'] }} ]
            }
          ]
      };
      var ctx = document.getElementById("barchart");
      var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: bardata,
            options: barOptions
        });
        </script>

{% endblock %}
