{% extends 'base.html' %}

{% block header %}
    <h1 class="display-1 text-center">{% block title %}Global Leader Board{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post" class="container">
        <h2 class="text-center">Sort By: {{ cat }} </h2>
        <div class="form-group">
            <select class="form-control" id="criteria" name="criteria" required="required">
                <option>income</option>
                <option>occupation</option>
                <option>username</option>
                <option>location</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-success btn-block">Sort By</button>
        </div>
    </form>

    <table class="table">
        <tr>
            <th>User</th>
            <th>Salary</th>
            <th>Profession</th>
            <th>Location</th>
        </tr>

        {% for person in people %}
            <tr>
                <td>{{ person['username'] }}</td>
                <td>${{ person['income'] }}</td>
                <td>{{ person['occupation'] }}</td>
                <td>{{ person['location'] }}</td>
            </tr>

        {% endfor %}
    </table>


{% endblock %}
